/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00b7ff;
} */

.section-title {
  margin: 80px;
  text-align: center;
  padding: 7px 109px;
  margin-bottom: 110px;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.section-title p {
  margin-bottom: 0;
  font-weight: 500;
}

.spad {
  padding-top: 15px;
  padding-bottom: 0px;
}
.spad-bottom {
  padding-top: 15px;
  padding-bottom: 50px;
}
.aboutim1 {
  border-radius: 50%;
  border-radius: 50%;
  height: 200px;
  width: 180px;
}
.expert-image h2 {
  margin-top: 18px;
}
.my {
  margin: 10px 77px;
}

.card-body:hover {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  background: #d82a4e;
}
.card-body:hover h6,
.card-body:hover p {
  color: #fff;
}
.card-body-1 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-1 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: 266px;
  width: 870px;
  margin: auto;
}
.card button {
  font-family: serif;
  color: #fff;
  background-color: #ffb606;
  border-color: #ffb606;
  text-decoration: none;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.section {
  height: auto;
  font-family: "Lora", serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 85%;
  margin: auto;
  margin-bottom: 25px;
}
.paras {
  padding: 0px 54px;
}
.big-text {
  font-size: 40px;
  font-family: "Lora", serif;
}
.small-text {
  font-size: 15px;
  font-family: "Lora", serif;
}
.thumbnail img {
  margin-top: 21px;
  width: 250px;
  border: 2px solid black;
  border-radius: 18px;
}
.section-left {
  flex-direction: row-reverse;
}
small {
  color: #999;
}
.card-img-top-1 {
  height: 227px;
  width: 378px;
}
.row {
  margin-top: 83px;
  margin-bottom: 6%;
}
.events-images img {
  height: 110px;
  width: 220px;
  margin-top: 40px;
}
.Date {
  font-size: 72px;
  font-weight: 700;
  line-height: 73px;
  margin-top: 9px;
  color: #ffb606;
  /* padding-left: 66px; */
  text-align: center;
}
.month {
  font-size: 33px;
  font-weight: 700;
  line-height: 73px;
  margin-top: 9px;
  color: #ffb606;
  /* padding-left: 66px; */
  text-align: center;
}
.mid-sec {
  float: left;
  width: calc(100% - 450px);
  width: -webkit-calc(100% - 450px);
  width: -moz-calc(100% - 450px);
  padding: 0 117px;
  position: relative;
}
.big-text-1 {
  font-size: 30px;
  font-family: "Lora", serif;
  color: black;
}
.small-text-1 {
  font-size: 15px;
  font-family: "Lora", serif;
  margin-top: 8px;
}

.nav-tabs-e .nav-link-e {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-top: 5px solid #ffb606;
  background: #f9f9f9;
  padding: 10px 88px;
  font-size: 16px;
  font-weight: 700;
  color: black;

  border-bottom: 0 !important;
  border-radius: 0;
  margin-right: 3px;
}
.view-big-text {
  font-size: 45px;
  font-family: "Lora", serif;
  color: black;
}
.view-small-text {
  font-size: 15px;
  font-family: "Lora", serif;
  margin-top: 8px;
}
.viewDetails-images img {
  height: 500px;
  width: 1000px;
  margin-top: 40px;
}
.view-container {
  margin: 0px 80px;
  border: 3px solid whitesmoke;
  padding: 28px 42px;
}
.view-nav-link {
  display: block;
  padding: 20px;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  /* margin-top: -48px; */
  margin-bottom: -1px;
  border-radius: 0;
  margin-right: 5px;
  border-top: 3px solid #ffb606;
  border-bottom: 0;
  font-size: 13px;
  font-weight: 700;
  background: #f9f9f9;
  /* line-height: 29px; */
  color: black;
  text-decoration: none;
  width: 24%;
}

.wrapper {
  width: 70%;
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
.panel-heading {
  padding: 0;
  border: 0;
}
.panel-title > a,
.panel-title > a:active {
  display: block;
  padding: 15px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}
.panel-heading a:before {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion {
  margin: 20px 0px;
}
/* gallary css */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
@media (max-width: 991px) {
  .section {
    flex-direction: column-reverse;
  }
  .big-text {
    text-align: center;
  }
  .small-text {
    text-align: center;
  }
  .paras {
    padding: 1px 0px;
  }
  .sectionTag {
    padding-top: 20px;
  }
}
@media (max-width: 1000px) {
  .Date {
    flex-direction: column-reverse;
    text-align: center;
  }
  .mid-sec {
    text-align: left;
    margin: 0px 15px;
    flex-direction: column-reverse;
  }
  .events-images img {
    text-align: center;
    width: 100%;
    height: 173px;
    margin: 0px 5px;
    flex-direction: column-reverse;
  }
}
